<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <title>自适应显示多个点标记</title>
    <link rel="stylesheet" href="http://cache.amap.com/lbs/static/main1119.css"/>
    <style>
        .info-tip {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 12px;
            background-color: #fff;
            height: 35px;
            text-align: left;
        }
    </style>
    <script src="http://cache.amap.com/lbs/static/es5.min.js"></script>
    <script src="http://webapi.amap.com/maps?v=1.4.6&key=d69b4c124c3fb2c79be6a740a1511dcc"></script>
</head>
<body>
<div id="container"></div>
<div class="button-group">
    <input id="setFitView" class="button" type="button" value="地图自适应显示"/>
</div>
<div class="info-tip">
    <div id="centerCoord"></div>
    <div id="tips"></div>
</div>
<script src="__STATIC__/adv/js/jquery.min.js?v=2.1.4"></script>
<script>
    //实时获取位置
    window.setInterval("realcarlocation()",5000);
    real();
    var map = new AMap.Map('container', {
        resizeEnable: true,
        center: [113.907417, 22.562899],
        zoom: 13
    });
    map.clearMap();  // 清除地图覆盖物
    function real() {
        markers = new Array();
        $.ajaxSettings.async=false;
        $.get("http://120.78.95.224:8080/datav/online_devices_location", function (data) {
            data = $.parseJSON(data);
            for(var i=0;i<data.length;i++){
                markers.push({ icon: 'http://webapi.amap.com/images/car.png', position: [data[i]['lng'], data[i]['lat']]});
            }
        });
        // console.log(markers)
        // markers.setPosition(markers.position); //更新点标记位置
    }

    // 添加一些分布不均的点到地图上,地图上添加三个点标记，作为参照
    markers.forEach(function(marker) {
        new AMap.Marker({
            map: map,
            icon: marker.icon,
            position: [marker.position[0], marker.position[1]],
            offset: new AMap.Pixel(-12, -36)
        });
    });
    // 添加事件监听, 使地图自适应显示到合适的范围
    AMap.event.addDomListener(document.getElementById('setFitView'), 'click', function() {

        // AMap.setMap(null);
        // AMap = null;
        // map.remove(markers);
    });

    //实时刷新车辆位置
    function realcarlocation() {
        // map.clearMap();  // 清除地图覆盖物
        // // markers = new Array();
        // $.ajaxSettings.async=false;
        // $.get("http://120.78.95.224:8080/datav/online_devices_location", function (data) {
        //     data = $.parseJSON(data);
        //     for(var i=0;i<data.length;i++){
        //         new AMap.Marker({
        //             map: map,
        //             icon: 'http://webapi.amap.com/images/car.png',
        //             position: [data[i]['lng'], data[i]['lat']],
        //             offset: new AMap.Pixel(-12, -36)
        //         });
        //         // markers.push({ icon: 'http://webapi.amap.com/images/car.png', position: [data[i]['lng'], data[i]['lat']]});
        //     }
        // });

    }

    top.layer.closeAll(); // 关闭所有
</script>
</body>
</html>